@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.logo {
  display: block;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0;
  color: #551a8b;
  font-size: 70px;
  text-align: center;
}
@media screen and (max-width: 426px) {
  .logo {
    font-size: 25px;
  }
}

img {
  max-width: 100%;
  height: 350px;
  vertical-align: middle;
}
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

.col-1 {
  float: left;
  width: 100%;
  padding-bottom: 1.5em;
}

.col-3 {
  padding: 1em 0;
}
/* Typography */

h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-top: 0;
}
.contentText{
  font-family:"bebas neue",cursive;
  font-size:80px;
  color:#551a8b;
}
p {
  margin-top: 0;
  line-height: 1.5;
}
p:last-of-type {
  margin-bottom: 0;
}

.home-text {
  font-size: 4rem;
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  margin-top: 1em;
  font-weight: 700;
}
.home-text span {
  font-weight: 300;
  display: block;
  font-size: 0.85em;
}
.text-sub {
  margin: 0 0 0.5em;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 60rem) {
  .home-text {
    font-size: 2.75rem;
    padding-top: 10px;
  }
}

/* Button */

.button {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em;
  color: white;
}
.button-accent:hover,
.button-accent:focus {
  background: #551a8b;
  color: white;
}

.button-small {
  font-size: 0.7rem;
  color: white;
  font-weight: 700;
}
.aboutbtn {
  font-family: "bebas neue", cursive;
  width: 50%;
  text-align: center;
}
/* Header */

header {
  position: absolute;
  margin-top: 1em;
  left: 0;
  right: 0;
}
nav {
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1em;
}
nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 1.5em;
  color: #551a8b;
}
nav a:hover,
nav a:focus {
  color: white;
}
.topnav .icon {
  display: none;
}
/* When screen is less than 426px wide (iphone 12 pro screen) hide all links except for home 
show the icon to open/close navbar */
@media screen and (max-width: 426px) {
  .topnav li {
    display: none;
  }
  .topnav a.icon {
    display: block;
    float: right;
  }
}
@media screen and (max-width: 426px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: right;
  }
}
/*Home Hero*/

.home-hero {
  background-image: url("images/boston1.png");
  padding: 10em 0;
  background-size: cover;
  background-position: center;
  height: 40em;
}

@media (max-width: 768px) {
  .home-text {
    font-size: 20px;
    padding-top: 50px;
  }
  .home-about-text h1 {
    font-size: 20px;
  }
  .container h1 {
    font-size: 20px;
    padding-bottom: 40px;
  }
}

.home-about-text {
  background-color: #232323;
  padding: 3em;
  width: 100vw;
  margin-left: -2.5vw;
  outline: 2px solid pink;
  outline-offset: -2.5em;
  color: white;
  position: relative;
}
.home-about-text h1 {
  color: pink;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3em;
  background: #232323;
  padding: 0 0.25em;
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  .home-about {
    padding-bottom: 10em;
    height: 25em;
    position:relative;
  }
  .home-about-text {
    width: 50%;
    margin-left: -2.5%;
    padding: 7em;
    outline-offset: -3.75em;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }
  .home-about-text h1 {
    top: 0.8em;
    left: 6rem;
    transform: translateX(0);
  }
}
.home-about img{
  position:absolute;
  right:0px;
  top:0px;
  height:400px;
  width:663.5px;
  
}

/*Content*/
/* Slideshow Container (W3 Schools for reference code) */
div.slideshow-container {
  max-width: 65%;
  position: relative;
  margin: 0 auto;
  height: 350px;
  overflow: hidden;
  
}
/* Hide images by default */
.mySlides {
  display: none;
}
/* Next and Previous Cursors */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: block;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: block;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption Text */
.imgText {
  color: white;
  font-size: 80px;
  padding: 8px 12px;
  margin-top: -22px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "bebas neue", cursive;
}
@media (max-width:426px){
  .imgText{
    font-size: 50px;
    top:30%;
  }
  .slideshow-container{
    height:fit-content;
  }
}
.imgText a{
  background-color: white;
  color:#551a8b;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "bebas neue", cursive;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #551a8b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 
}
.active,
.dot:hover {
  background-color: pink;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* responsive css*/

/*Form*/
.subscribe {
  background-image: url("images/pinkbg.png");
  padding: 6em 0;
  color: white;
}

footer {
  background: #232323;
  color: #fff;
  text-align: center;
  height: auto;
}
